version: "3.9"

services:
  backend:
    image: 701604549018.dkr.ecr.ap-south-1.amazonaws.com/mychat_backend:latestarm
    container_name: mychat_backend
    ports:
      - "6002:6002"
    environment:
      - PORT=6002
      - JWT_SECRET=${JWT_SECRET}
      - OPENROUTER_API_KEY=${OPENROUTER_API_KEY}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - DB_HOST=${DB_HOST:-localhost}
      - PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
      - PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium-browser
    # restart: always
    networks:
      - mychat-network

  frontend:
    image: 701604549018.dkr.ecr.ap-south-1.amazonaws.com/mychat_frontend:latestarm
    container_name: mychat_frontend
    ports:
      - "6001:6001"
    environment:
      - PORT=6001
      - NEXT_PUBLIC_API_BASE_URL=${NEXT_PUBLIC_API_BASE_URL:-http://localhost:6002}
    # restart: always
    networks:
     - mychat-network

networks:
  mychat-network:
    name: mychat-network
    driver: bridge